.accordion {
  align-items: flex-start;

  @media #{$wide-vp} {
    padding-left: 20px;
  }

  @media #{$narrow-vp} {
    display: flex;
    flex-direction: column;
  }
}

.accordion__control {
  @media #{$not-narrow-vp} {
    display: none;
  }
}
