.header {
  background: $black-perl-top-bottom;
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 90px 35px 30px;
}

.header__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
  padding-top: 7px;
  margin-right: -7px;

  @media #{$not-wide-vp} {
    span {
      position: absolute;
      transform: scale(0);
    }
  }
}

.header__logo-words {
  @media #{$not-wide-vp} {
    position: absolute;
    transform: scale(0);
  }
}

.header__logo {
  @media #{$narrow-vp} {
    img {
      width: 35px;
      height: 35px;
    }
  }
}

.header p {
  color: $color-default-white;
}

.header a {
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    box-shadow: 0 0 0 4px #ffffff;
  }

  &:active {
    box-shadow: 0 0 0 1px #ffffff;
    opacity: 0.3;
  }
}


.header__callback-button {
  margin-top: 5px;

  @media #{$not-wide-vp} {
    display: none;
  }
}
