.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $black-perl-top-bottom;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 90px 35px 30px;

  @media #{$middle-vp} {
    padding: 20px 64px 25px 50px;
  }

  @media #{$narrow-vp} {
    padding: 15px 29px 20px 26px;
  }
}

.header__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 27px;
  padding-top: 7px;
  margin-right: -7px;

  @media #{$not-wide-vp} {
    padding-top: 2px;
    gap: 9px;

    span {
      position: absolute;
      transform: scale(0);
      left: 0;
      top: 0;
    }
  }

  @media #{$narrow-vp} {
    padding: 0;
    margin-top: -3px;
  }
}

.header__logo-words {
  @media #{$narrow-vp} {
    position: absolute;
    transform: scale(0);
    left: 0;
    top: 0;
  }
}

.header__logo {
  @media #{$narrow-vp} {
    img {
      width: 35px;
      height: 35px;
    }
  }
}

.header p {
  color: $color-default-white;
}

.header a {
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    box-shadow: 0 0 0 4px #ffffff;
  }

  &:active {
    box-shadow: 0 0 0 1px #ffffff;
    opacity: 0.3;
  }
}


.header__callback-button {
  margin-top: 5px;

  @media #{$not-wide-vp} {
    display: none;
  }
}
